.container {
  position: absolute;
  right: 48rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.button {
  width: auto;
  border-radius: 4rem;
  margin-bottom: 2rem;
  padding: 3rem 8rem 3rem 6rem;
  font-size: 16rem;
  background-color: var(--activeColorBright);
  color: var(--menuText1Normal);
  opacity: 0.8;
  border: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  transition: opacity 0.2s, background-color 0.2s, color 0.2s;
}

.button img {
  width: 22rem;
  height: 22rem;
  margin-right: 4rem;
  mask-size: contain;
  mask-position: 50% 50%;
  background-color: var(--menuText1Normal);
  transition: background-color 0.2s;
}

.button:hover {
  opacity: 1;
  color: var(--menuControl1--hover);
  background-color: var(--accentColorDark-pressed);

  img {
    background-color: var(--menuControl1--hover);
  }
}

.button:active {
  opacity: 1;
  background: none !important;
  color: var(--menuControl1--hover);
  background-color: var(--accentColorDark) !important;
  border-radius: 4rem !important;

  img {
    background-color: var(--menuControl1--hover);
  }
}
